<html>
<head>
	<title>Ergebnisse von Workflow-[#WFID]</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<link rel="stylesheet" type="text/css" href="alv_style.css" />
		<script src="[#RAWDATA]" type="text/javascript"></script>
		<script src="alv_script.js" type="text/javascript"></script>

</head>	
<body onload="Init()">
	<h2>Ergebnisse von Workflow-[#WFID]</h2>
	<table border="1" id="resulttable" sortable="true">
		 <thead>
          <tr>
            <th>Published</th>
            <th>Verb</th>
            <th>Actor</th>
            <th>Object</th>
            <th>Target</th>
            <th>Generator</th>
            <th>Provider</th>
          </tr>
        </thead>
         <tfoot>
          <tr>
            <th>Published</th>
            <th>Verb</th>
            <th>Actor</th>
            <th>Object</th>
            <th>Target</th>
            <th>Generator</th>
            <th>Provider</th>
          </tr>
        </tfoot>
	 	<tbody>
      
    	</tbody>
		
	</table>

</body>
</html>