<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SISOB System Visualiation</title>
    
    <!-- NVD3-->
    <link rel="stylesheet" type="text/css" href="NVD3/src/nv.d3.css" />
    <script type="text/javascript" src="NVD3/lib/d3.v2.js"></script>
    <script type="text/javascript" src="NVD3/nv.d3.js"></script>
    <script type="text/javascript" src="NVD3/src/tooltip.js"></script>
    <script type="text/javascript" src="NVD3/src/utils.js"></script>
    <script type="text/javascript" src="NVD3/src/models/legend.js"></script>
    <script type="text/javascript" src="NVD3/src/models/axis.js"></script>
    <script type="text/javascript" src="NVD3/src/models/scatter.js"></script>
    <script type="text/javascript" src="NVD3/src/models/line.js"></script>
    <script type="text/javascript" src="NVD3/src/models/lineChart.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="microstyle.css" />
    <script type="text/javascript" src="microcommon.js"></script>
    <script type="text/javascript" src="microgsbc.js"></script>
    <script type="text/javascript" src="src.js"></script>


</head>
<body onload='start()'>

<div id='wrapper'>

    <div id="header"> 
    	<img src="logo.gif" alt="Sisob Logo" name="logo" width="150" height="80" id="logo"/>
        <h2 id="title"> </h2>
    </div>

    <div id="content">

    </div>
    
    
    <div id="footer">
        <p> SISOB: An Observatorium for Science in Society based in Social Models - SISOB Consortium 2011-2013</p>
        <!-- end .footer -->
    </div>

</div>

</body>
</html>
