<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title></title>

    <link rel="stylesheet" href="lib/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link rel="stylesheet" href="lib/Slidebars-0.10.3/dist/slidebars.css">

    <link rel="stylesheet" href="lib/clingify.css">

    <link rel="stylesheet" href="style.css">

    <script src="lib/d3.min.js" charset="UTF-8"></script>
    <script src="lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js" charset="UTF-8"></script>
    <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js" charset="UTF-8"></script>

    <script src="lib/Slidebars-0.10.3/dist/slidebars.js" charset="UTF-8"></script>

    <script src="lib/jquery.clingify.js" charset="UTF-8"></script>

    <script src="visualization.js" charset="UTF-8"></script>
    <script src="edbc.js" charset="UTF-8"></script>
</head>
<body onload="edbc()">
<div class="content-head ui-widget-header header" id="header">
    <span style="alignment: center;">Evolution of dynamic biclique communities</span>
    <button id="optionsButton" class="sb-toggle-right right" style="margin-top:0;">Options</button>
</div>


<div id="sb-site">

    <div id="chart"></div>

</div>

<div class="sb-slidebar sb-right sb-style-overlay">

    <div>

        <div class="option-item">
            <label for="minActorGroupSize" style="display: block;">Minimum size of actor groups:</label>
            <input id="minActorGroupSize" type="text" readonly
                   style="border: 0; width: 10em; background: lightgray; font-weight: bold; display: block;">

            <div id="minActorGroupSizeSlider" style="margin: 5px;"></div>

            <div style="text-align: center; font-weight: bold;">AND</div>

            <label for="minEventGroupSize" style="display: block;">Minimum size of event groups:</label>
            <input id="minEventGroupSize" type="text" readonly
                   style="border: 0; width: 10em; background: lightgray; font-weight: bold; display: block;">

            <div id="minEventGroupSizeSlider" style="margin: 5px;"></div>
        </div>

        <div class="option-item">
            <input id="removeSingleNodesCheckbox" type="checkbox">
            <label for="removeSingleNodesCheckbox">Remove single cluster</label>
        </div>

        <div class="option-item">
            <input id="edgeWidthCheckbox" type="checkbox">
            <label for="edgeWidthCheckbox">Edge width by members staying in group</label>
        </div>

        <div class="option-item">
            <label for="memberSelect" style="display: block;">Highlight groups containing member:</label>
            <select id="memberSelect" name="memberSelect"
                    style="min-width: 100%; max-width: 100%; display: block;"></select>
        </div>

        <button id="updateButton" type="button">Update</button>
    </div>
    <button id="resetHighlightButton" type="button">Reset Highlighting</button>
</div>

</body>
</html>