.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    /*background-color: #ccc;*/
    position: relative;
    left: 5px;
    top: 5px;
}

.slice {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}